@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2 class="text-left h2">Ürün</h2>
        <p><a class="btn btn-default" href="/Product/Index">Ürünler</a></p>
    </div>
    <div class="col-md-4">
        <h2 class="text-left h2">Ürünleri Ekle ve Çıkar</h2>
        <p><a class="btn btn-default" href="/Product/AddProduct">Ürün Ekle &raquo;</a></p>
    </div>
</div>